{{#isBodyParam}}{{^reactive}}{{>nullableAnnotation}}{{>optionalDataTypeBean}}{{/reactive}}{{#reactive}}{{^isArray}}Mono<{{{dataType}}}>{{/isArray}}{{#isArray}}Flux<{{{baseType}}}>{{/isArray}}{{/reactive}} {{paramName}}{{/isBodyParam}}