{{#useOptional}}{{#required}}{{{dataTypeEntity}}}{{/required}}{{^required}}Optional<{{#useBeanValidation}}{{>beanValidationCore}}{{/useBeanValidation}}{{{dataTypeEntity}}}>{{/required}}{{/useOptional}}{{^useOptional}}{{{dataTypeEntity}}}{{/useOptional}}