package {{basePackage}}.repository;

{{#imports}}import {{import}};
{{/imports}}
import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;

@Mapper
{{#operations}}
public interface {{classname}}Repository {
{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    {{>responseType}} {{operationId}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{>cookieParams}}{{^-last}},
        {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}};
{{/operation}}
}
{{/operations}}
