package {{basePackage}}.repository;

{{#imports}}import {{import}};
{{/imports}}
import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;

@Mapper
{{#operations}}
public interface {{classname}}Repository {
{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    public {{>responseCustomType}} {{operationId}}({{#allParams}}{{>queryCustomParams}}{{>pathCustomParams}}{{>bodyCustomParams}}{{^-last}}, {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}};
{{/operation}}
}
{{/operations}}