package {{basePackage}}.services;

{{#imports}}import {{import}};
{{/imports}}
import java.util.List;
import java.util.Map;

{{#operations}}
public interface {{classname}}Srv {
{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    {{>responseCustomTypeBean}} {{operationId}}({{#allParams}}{{>queryCustomParamsBean}}{{>pathCustomParamsBean}}{{>bodyCustomParamsBean}}{{^-last}}, {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}};

{{/operation}}
}
{{/operations}}