package {{basePackage}}.services;

{{#importsBean}}import {{import}};
{{/importsBean}}
import java.util.List;
import java.util.Map;

import org.springframework.stereotype.Service;

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;

import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;

import {{basePackage}}.repository.{{classname}}Repository;
import {{basePackage}}.domain.mappers.{{classname}}FactoryMapper;

@Slf4j
@Service
@AllArgsConstructor
{{#operations}}
public class {{classname}}SrvImpl implements {{classname}}Srv {

	private {{classname}}Repository repository;

	private {{classname}}FactoryMapper mapper;

{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    @Override
    public {{>responseCustomTypeBean}} {{operationId}}({{#allParams}}{{>queryCustomParamsBean}}{{>pathCustomParamsBean}}{{>bodyCustomParamsBean}}{{^-last}}, {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}}{
        return null;
    }

{{/operation}}
}
{{/operations}}