package {{basePackage}};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
{{#operations}}
public class {{classname}}ApiTest {
{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    public {{>responseCustomType}} {{operationId}}({{#allParams}}{{>queryCustomParams}}{{>pathCustomParams}}{{>bodyCustomParams}}{{^-last}}, {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}};
{{/operation}}
}
{{/operations}}