package {{package}}.services;

{{#imports}}import {{import}};
{{/imports}}
import java.util.List;

import org.mapstruct.Mapper;
import org.mapstruct.Mapping;
import org.mapstruct.Mappings;

@Mapper
{{#operations}}
public class {{classname}} {
{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    {{>responseType}} {{operationId}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{>cookieParams}}{{^-last}},
        {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}};

{{/operation}}
}
{{/operations}}