package {{basePackage}}.domain.mappers;

{{#imports}}import {{import}};
{{/imports}}
import java.util.List;

import org.mapstruct.Mapper;
import org.mapstruct.Mapping;
import org.mapstruct.Mappings;

@Mapper
public class {{classVarName}}FactoryMapper {

}
