############## Info properties ###############
info:
  system: '@project.artifactId@'
  app:
    name: '@project.artifactId@'
    group: '@project.groupId@'
    version: '@project.version@' 
############## Spring App properties ###############
spring:
  application:
    name: '@project.artifactId@'
  lifecycle:
    timeout-per-shutdown-phase: 15s  
  config:
    #(Only for local environment.)
    import: "optional:configserver:" 
  cloud:
    config: 
      enabled: false
      uri: http://localhost:8888
      request-connect-timeout: 5000
      request-read-timeout: 5000
      #(Only for local environment, for production set true.)
      fail-fast: false 
      retry:
        max-attempts: 6
        initial-interval: 1000
        max-interval: 2000
        multiplier: 1.1
    compatibility-verifier:
      enabled: false
  profiles:
    active:
    - default        
  ############## Datasource configuration ###############
  datasource:
    url: jdbc:h2:file:./target/data/products-db
    driverClassName: org.h2.Driver
    username: sa
    password:
    hikari:
      connection-timeout: 2000
      maximum-pool-size: 5 
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  h2:
    console.enabled: true
    console.path: /h2-console
    console.settings.trace: false
  ############## Datasource configuration Mysql ###############
  #datasource:
  #   url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/bbdd
  #   driverClassName: com.mysql.cj.jdbc.Driver
  #   username: usr
  #   password: pwd
  #   hikari:
  #     connection-timeout: 2000
  #     maximum-pool-size: 5
  # jpa:
  #   database-platform: org.hibernate.dialect.MySQL8Dialect
  #   defer-datasource-initialization: true
  #   hibernate:
  #     ddl-auto: update
  #   show-sql: true 
  jackson:
    date-format: {{basePackage}}.RFC3339DateFormat
    serialization:
          WRITE_DATES_AS_TIMESTAMPS: false
############## Management properties ###############
management:
  endpoints:
    web:
      exposure:
        include: env, health, heapdump, info, loggers, mappings, prometheus
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
  metrics:
    tags:
      application: '@project.artifactId@'
############## Server properties ###############
server:
  port: 8080
  shutdown: graceful
  tomcat:
    connection-timeout: 15s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min-spare: 5
  servlet:
    contextPath: /${spring.application.name}
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  http2:
    enabled: true
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never 		  
############## Log properties ###############
logging:
  file:
    name: target/logs/${spring.application.name}.log
  level:
    '[org.hibernate.SQL]': TRACE
    '[org.hibernate.type.descriptor.sql.BasicBinder]': TRACE
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"
  logback:
    rollingpolicy:
      file-name-pattern: target/logs/${spring.application.name}.%d{yyyy-MM-dd}.%i.gz
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 500MB    
  #structured:
  #  format:
  #    file: 
  #    console: gelf
############## Springdoc properties ###############    
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
    version: 'OPENAPI_3_0'  
  swagger-ui:
    enabled: true
    path: /openapi/swagger-ui.html
############## OpenApi properties ###############
app:
  openapi:
    group: ${info.app.name}
    title: Restservice API
    description: This is a Restservice Api.
    license: 
      name: Apache 2.0
      url: https://opensource.org/licenses/Apache-2.0
    contact:
      name: Craftsman
      url: '@project.organization.url@'
    package: ${info.app.group}
    path: /api/v1/service/* 
############## AppClient properties ###############
web:
  clients:
    - 
      name: webClientZero
      url: "http://localhost:8080"
      api: "/api/v1/"
      timeout: 120
      trace: true
      retry: 3

    -
      name: webClientOne
      url: "http://localhost:8080"
      api: "/api/v1/"
      timeout: 120
      trace: true
      retry: 3      
      paths:

