package {{package}}.services;

{{#imports}}import {{import}};
{{/imports}}
import org.springframework.stereotype.Service;

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;

@Slf4j
@Service
@AllArgsConstructor
{{#operations}}
public class {{classname}}SrvImpl implements {{classname}}Srv {
{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    @Override
    {{>responseType}} {{operationId}}({{#vendorExtensions.x-spring-provide-args}}{{#hasParams}},{{/hasParams}}{{^hasParams}}{{/hasParams}}{{/vendorExtensions.x-spring-provide-args}}){{#unhandledException}} throws Exception{{/unhandledException}}; 

{{/operation}}
}
{{/operations}}