package {{configPackage}};

import java.net.URI;
import java.util.List;

import org.springframework.boot.context.properties.ConfigurationProperties;
import org.springframework.context.annotation.Configuration;
import org.springframework.util.CollectionUtils;

import jakarta.validation.constraints.NotNull;
import lombok.Data;

@Data
@Configuration
@ConfigurationProperties(prefix = "config")
public class {{classname}}WebClientsProperties {

	private List<Client> clients;

    public record Client(
            @NotNull String name,
            @NotNull URI url,
            @NotNull String api,
            @NotNull int timeout,
            @NotNull boolean trace,
            @NotNull int retry){}
            
    public Client getClient(String name) {
        return !CollectionUtils.isEmpty(clients)
                ? clients.stream().filter(c -> c.name.equalsIgnoreCase(name)).findFirst().orElse(null)
                : null;
    }
            
}