package {{configPackage}};

import java.util.HashMap;
import java.util.Map;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.web.reactive.function.client.WebClient;

import lombok.extern.slf4j.Slf4j;

@Slf4j
@Configuration
public class SpringBootWebClientsConfig {

    Map<String, WebClient> webClients = null;

    @Bean("webClients")
    Map<String, WebClient> getWebClients(SpringBootWebClientsProperties clientProperties, WebClient.Builder webClientBuilder){
        if(webClients == null) {
            webClients = new HashMap<>();

            for(SpringBootWebClientsProperties.Client client: clientProperties.getClients()) {
                if(client.trace()) {
                    log.info(client.name() + " method url: " + client.url());
                }

                WebClient wc = webClientBuilder
                        .baseUrl(client.url().toString())
                        // NOTE clienConnector para llamadas https seguras
                        //.clientConnector(clientConnector.getClientHttpConnector())
                        //NOTE Only for more than 500BK
                        //.exchangeStrategies(ExchangeStrategies.builder().codecs(codecs -> codecs.defaultCodecs().maxInMemorySize(500 * 1024)).build())
                        .build();

                webClients.put(client.name(), wc);

            }
        }
        return webClients;
    }
    
}