package {{basePackage}}.webclients;

import org.springframework.web.reactive.function.client.WebClient;

import com.amaseguros.api.RestServiceApiV1Api;
import com.amaseguros.client.ApiClient;
import {{basePackage}}.config.{{classname}}WebClientProperties;

import lombok.AllArgsConstructor;

@AllArgsConstructor
public class {{classname}}WebClient extends RestServiceApiV1Api{

    private {{classname}}WebClientProperties.Client client;

    public {{classname}}WebClient(WebClient webClient, {{classname}}WebClientProperties.Client client) {
        super(new ApiClient(webClient));
        this.client = client;
        getApiClient().setBasePath(client.url().toString() + client.api());
    }

    public {{classname}}WebClientProperties.Client getWebClient() {
        return this.client;
    }

}