package {{package}}.services;

{{#imports}}import {{import}};
{{/imports}}
import java.util.List;
import java.util.Map;

{{#operations}}
public interface {{classname}}Srv {
{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    {{>responseType}} {{operationId}}({{#allParams}}{{>bodyParams}}{{>formParams}}{{^-last}},{{/-last}}{{/allParams}}{{#hasParams}},{{/hasParams}}{{#vendorExtensions.x-spring-paginated}}{{#hasParams}},
        {{/hasParams}}{{^hasParams}},{{/hasParams}}final Pageable pageable{{/vendorExtensions.x-spring-paginated}}{{#vendorExtensions.x-spring-provide-args}}{{#hasParams}},
        {{/hasParams}}{{^hasParams}},{{/hasParams}}{{{.}}}{{^hasParams}}{{^-last}},{{/-last}}{{/hasParams}}{{/vendorExtensions.x-spring-provide-args}}){{#unhandledException}} throws Exception{{/unhandledException}}; 

{{/operation}}
}
{{/operations}}