package {{basePackage}}.services;

{{#imports}}import {{import}};
{{/imports}}
import org.springframework.stereotype.Service;

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;

@Slf4j
@Service
@AllArgsConstructor
{{#operations}}
public class {{classname}}SrvImpl implements {{classname}}Srv {

	private {{classname}}Repository repository;

	private {{classname}}FactoryMapper mapper;

{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    @Override
    {{>responseCustomType}} {{operationId}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>bodyParams}}{{^-last}}, {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}}{
        return new {{>responseCustomType}};
    }

{{/operation}}
}
{{/operations}}