package {{basePackage}}.domain.model.service;

{{#importsBean}}import {{import}};
{{/importsBean}}
import {{javaxPackage}}.annotation.Generated;

{{#models}}
{{#model}}
{{#additionalPropertiesType}}
import java.util.*;
import java.util.Map;
import java.util.HashMap;
{{/additionalPropertiesType}}
{{#isEnum}}
{{>enumOuterClass}}

{{/isEnum}}
{{^isEnum}}
{{#vendorExtensions.x-is-one-of-interface}}{{>oneof_interface}}{{/vendorExtensions.x-is-one-of-interface}}{{^vendorExtensions.x-is-one-of-interface}}{{>pojoCustomBean}}{{/vendorExtensions.x-is-one-of-interface}}
{{/isEnum}}
{{/model}}
{{/models}}