{{#useOptional}}{{#required}}{{{dataTypeBean}}}{{/required}}{{^required}}Optional<{{#useBeanValidation}}{{>beanValidationCore}}{{/useBeanValidation}}{{{dataTypeBean}}}>{{/required}}{{/useOptional}}{{^useOptional}}{{{dataTypeBean}}}{{/useOptional}}