package {{basePackage}}.repository;

{{#importsEntity}}import {{import}};
{{/importsEntity}}
import java.util.List;
import java.util.Map;

{{#operations}}
public interface {{classname}}Repository  extends CrudRepository<Object, Long> {{
{{#operation}}

    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    public {{>responseCustomTypeEntity}} {{operationId}}({{#allParams}}{{>queryCustomParamsEntity}}{{>pathCustomParamsEntity}}{{>bodyCustomParamsEntity}}{{^-last}}, {{/-last}}{{/allParams}}){{#unhandledException}} throws Exception{{/unhandledException}};
{{/operation}}
}
{{/operations}}