{{^vendorExtensions.x-sse}}{{#reactive}}Mono<{{#isArray}}Flux<{{/isArray}}{{>returnTypesEntity}}{{#isArray}}>{{/isArray}}>{{#isArray}}Flux{{/isArray}}{{^isArray}}Mono{{/isArray}}<{{>returnTypesEntity}}>{{/reactive}}{{^reactive}}{{#responseWrapper}}{{.}}<{{/responseWrapper}}{{>returnTypesEntity}}{{#responseWrapper}}>{{/responseWrapper}}{{/reactive}}{{/vendorExtensions.x-sse}}{{#vendorExtensions.x-sse}}{{#isArray}}Flux{{/isArray}}{{^isArray}}Mono{{/isArray}}<{{>returnTypesEntity}}>{{/vendorExtensions.x-sse}}